body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.checkbox-container {
  display: flex;
  justify-content: center;
}

.checkbox {
  align-items: center;
}
